{% extends 'common/_layout.html' %}
{% set site_title = 'О компании' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

<section class="text-page">
  <div class="container">
    <h2 class="title-lg">О компании</h2>
    <p>С 2011 года мы производим изделия из пенопласта и др. материалов любой формы и сложности</p>
    <p>Компания ПТК Пенопласт была основана в 2011 году в Санкт-Петербурге. Обладая большим опытом в сфере производства изделий из полимеров и самым новейшим оборудованием, мы не останавливаемся на достигнутых результатах и продолжаем тестировать и внедрять новые методы и технологии производства.</p>
    <p>Мы постоянно стремится повысить качество и снизить стоимость выпускаемой продукции. Наша команда состоит из профессионалов в своей сфере (инженеры, технологи, дизайнеры) которые постоянно оттачивают свои навыки и повышают свою квалификацию.</p>
    <h3 class="title-md">Кратко о нас:</h3>
    <ul class="list-arrow">
      <li>11 лет на рынке</li>
      <li>Изготовлено более 10 тысяч изделий</li>
      <li>Выполнено 1000 заказов</li>
      <li>Команда специалистов: архитекторы, технологи, инженеры, монтажники, рабочие и др.</li>
      <li>5 новейших станков с ЧПУ</li>
    </ul>
    <h3 class="title-md">Основные сферы деятельности нашей компании:</h3>
    <ul class="list-line">
      <li>Производство защитной упаковки из Полимеров</li>
      <li>Производство фасадного декора из Пенопласта</li>
      <li>Утепление труб</li>
      <li>Рекламная продукция и Декорации</li>
      <li>Плиты для теплого пола</li>
      <li>Несъемная опалубка</li>
      <li>Сидения и лежаки для Хамам</li>
      <li>Блоки форшахт</li>
    </ul>
    <p>Наша компания предлагает, как готовые решения для производства изделий из пенопласта, так же можем использовать ваши чертежи и идеи.</p>
  </div>
</section>

{% endblock %}