{% extends 'common/_layout.html' %}
{% set site_title = 'Контакты' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

<section class="contact">
  <div class="container">
    <h2 class="title-lg">Контакты</h2>
    <div class="contact-row">
      <div class="contact-col">
        <div class="contact-item">
          <h4>Адрес:</h4>
          <p>г. Санкт-Петербург, Волковский проспект д. 146 литер А, офис 34</p>
        </div>
        <div class="contact-item">
          <h4>Режим работы:</h4>
          <p>Пн-Сб: с 09.00 до 19.00 Вс: выходной</p>
        </div>
        <div class="contact-item">
          <h4>Контактный телефон:</h4>
          <p><a href="tel:+7 (812) 986-90-52">+7 (812) 986-90-52</a><br><a href="tel:+7 (812) 983-01-01">+7 (812) 983-01-01</a></p>
        </div>
      </div>
      <div class="contact-col">
        <div class="contact-item">
          <h4>Мессенджеры:</h4>
          <p class="inline"><a href="#" class="contact-soc"><img src="img/svg/vk.svg" alt="">ВКонтакте</a><a href="#" class="contact-soc"><img src="img/svg/tg.svg" alt="">Telegram</a></p>
        </div>
        <div class="contact-item">
          <h4>E-mail:</h4>
          <p><a href="mailto:info@ptkp.ru">info@ptkp.ru</a></p>
        </div>
      </div>
    </div>
    <div class="contact-map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8e60ed5bd1f31f2f2342ad351c218f320a132cef2f909e921fed19aac7caa4f9&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script></div>
    <div class="contact-row">
      <div class="contact-col">
        <h3 class="title-md">Адресная информация</h3>
        <div class="contact-item">
          <h4>Адрес офиса:</h4>
          <p>г. Санкт-Петербург, Волковский проспект д. 146 литер А, офис 34</p>
        </div>
        <div class="contact-item">
          <h4>Адрес производства:</h4>
          <p>г. Санкт-Петербург, Волковский проспект д. 146 литер А, офис 34</p>
        </div>
        <div class="contact-item">
          <h4>Контактный телефон:</h4>
          <p><a href="tel:+7 (812) 986-90-52">+7 (812) 986-90-52</a><br><a href="tel:+7 (812) 983-01-01">+7 (812) 983-01-01</a></p>
        </div>
        <div class="contact-item">
          <h4>E-mail:</h4>
          <p><a href="mailto:info@ptkp.ru">info@ptkp.ru</a></p>
        </div>
      </div>
      <div class="contact-col contact-col-last">
        <h3 class="title-md">Адресная информация</h3>
        <form action="#" method="post" class="contact-form">
          <input type="text" class="input" placeholder="Ваше имя" />
          <input type="tel" class="input masked" placeholder="Ваш телефон" />
          <input type="email" class="input" placeholder="E-mail" />
          <textarea class="textarea" placeholder="Комментарий"></textarea>
          <label class="checkbox">
            <input type="checkbox" checked />
            <span>Согласен на обработку персональных данных</span>
          </label>
          <button class="btn-brown">Рассчитать стоимость</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}