{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="container">
    <img src="img/promo-img.jpg" alt="" class="promo-img">
    <h1><span>ПТК</span> Пенопласт</h1>
    <h2>Создадим уникальные изделия:<br> фасадный декор, упаковку, рекламную продукцию и всё, что вы захотите</h2>
    <div class="promo-form">
      <h3>Оставьте заявку на расчет</h3>
      <p>Мы изучим ваши файлы: ТЗ, эскизы, чертежи и позвоним вам в течение 30 минут</p>
      <form action="#" method="post">
        <input type="text" class="input" placeholder="Ваше имя" />
        <input type="tel" class="input masked" placeholder="Ваш телефон" />
        <label class="file">
          <input type="file" />
          <span><p>Выберите файлы</p></span>
        </label>
        <button class="btn-brown">Рассчитать стоимость</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}