{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="container">
    <img src="img/promo-img.jpg" alt="" class="promo-img">
    <h1><span>ПТК</span> Пенопласт</h1>
    <h2>Создадим уникальные изделия:<br> фасадный декор, упаковку, рекламную продукцию и всё, что вы захотите</h2>
    <div class="promo-form">
      <h3>Оставьте заявку на расчет</h3>
      <p>Мы изучим ваши файлы: ТЗ, эскизы, чертежи и позвоним вам в течение 30 минут</p>
      <form action="#" method="post">
        <input type="text" class="input" placeholder="Ваше имя" />
        <input type="tel" class="input masked" placeholder="Ваш телефон" />
        <label class="file">
          <input type="file" />
          <span><p>Выберите файлы</p></span>
        </label>
        <button class="btn-brown">Рассчитать стоимость</button>
      </form>
    </div>
  </div>
</section>

{% include 'common/constructor-promo.html' %}

<section class="decor">
  <div class="container">
    <h2 class="title-lg">Фасадный декор<br> <span style="color: #B1441F;">ПТК</span> <span style="color: #093F88;">Пенопласт</span></h2>
    <div class="decor-row">
      <div class="decor-left">
        <ul class="decor-list">
          <li>Многоэтажные дома</li>
          <li>Коттеджные поселки</li>
          <li>Частные дома</li>
          <li>Общественные здания</li>
        </ul>
        <div class="btn-wrap"><a href="#" class="btn-brown">Заказать декор</a></div>
      </div>
      <div class="decor-right">
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}