{% extends 'common/_layout.html' %}
{% set site_title = 'Главная' %}
{% set home = true %}

{% block content %}

<section class="promo">
  <div class="container">
    <img src="img/promo-img.jpg" alt="" class="promo-img">
    <h1><span>ПТК</span> Пенопласт</h1>
    <h2>Создадим уникальные изделия:<br> фасадный декор, упаковку, рекламную продукцию и всё, что вы захотите</h2>
    <div class="promo-form">
      <h3>Оставьте заявку на расчет</h3>
      <p>Мы изучим ваши файлы: ТЗ, эскизы, чертежи и позвоним вам в течение 30 минут</p>
      <form action="#" method="post">
        <input type="text" class="input" placeholder="Ваше имя" />
        <input type="tel" class="input masked" placeholder="Ваш телефон" />
        <label class="file">
          <input type="file" />
          <span><p>Выберите файлы</p></span>
        </label>
        <button class="btn-brown">Рассчитать стоимость</button>
      </form>
    </div>
  </div>
</section>

{% include 'common/constructor-promo.html' %}

<section class="decor">
  <div class="container">
    <h2 class="title-lg">Фасадный декор<br> <span style="color: #B1441F;">ПТК</span> <span style="color: #093F88;">Пенопласт</span></h2>
    <div class="decor-row">
      <div class="decor-left">
        <ul class="decor-list">
          <li>Многоэтажные дома</li>
          <li>Коттеджные поселки</li>
          <li>Частные дома</li>
          <li>Общественные здания</li>
        </ul>
        <div class="btn-wrap"><a href="#" class="btn-brown">Заказать декор</a></div>
      </div>
      <div class="decor-right">
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="decor-content">
          <div class="decor-slider">
            <div class="decor-slider__main">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
            <div class="decor-slider__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="need">
  <div class="container">
    <h2 class="title-lg">Ориентируемся на ваши потребности</h2>
    <div class="need-row">
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-1.svg" alt=""></div>
        <p>Выезд к клиенту на объект</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-2.svg" alt=""></div>
        <p>Сделаем скидку, если вы нашли вариант дешевле</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-3.svg" alt=""></div>
        <p>Изготовление по чертежу или экскизу</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-4.svg" alt=""></div>
        <p>Выдерживаем договоренности по срокам</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-5.svg" alt=""></div>
        <p>Личная бригада монтажников</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-6.svg" alt=""></div>
        <p>Изделия любых форм и размеров</p>
      </div>
    </div>
  </div>
</section>

<section class="product-home">
  <div class="container">
    <h2 class="title-lg">Что мы производим?</h2>
    <div class="product-home__row">
      <h3>Здесь можно найти варианты товаров из пенопласта, дерева, EVA и др. материалов</h3>
      <a href="#" class="btn-outline">Смотреть продукцию</a>
    </div>
    <div class="product-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'common/product-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/product-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/product-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/product-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/product-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/product-item.html' %}</div>
      </div>
      <div class="control">
        <div class="control-arrow control-prev"></div>
        <div class="control-pagination"></div>
        <div class="control-arrow control-next"></div>
      </div>
    </div>
  </div>
</section>

{% include 'common/how.html' %}

<section class="work">
  <div class="container">
    <div class="work-row">
      <div class="work-main">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
          <div class="swiper-slide"><img src="img/decor.jpg" alt=""></div>
        </div>
      </div>
      <div class="work-sidebar">
        <h2 class="title-lg">Наши работы</h2>
        <div class="work-second">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h3>Дом в Гатчине</h3>
              <p>Мы выясняем вашу потребность: изучаем ТЗ, чертежи и эскизы, при необходимости создаем 3D-модели и образцы. Расчитываем стои</p>
            </div>
            <div class="swiper-slide">
              <h3>Дом в Гатчине 2</h3>
              <p>Мы выясняем вашу потребность: изучаем ТЗ, чертежи и эскизы, при необходимости создаем 3D-модели и образцы. Расчитываем стои</p>
              <p>Что-то еще</p>
            </div>
            <div class="swiper-slide">
              <h3>Дом в Гатчине 3</h3>
              <p>Мы выясняем вашу потребность: изучаем ТЗ, чертежи и эскизы, при необходимости создаем 3D-модели и образцы.</p>
            </div>
          </div>
          <div class="control">
            <div class="control-arrow control-prev"></div>
            <div class="control-pagination"></div>
            <div class="control-arrow control-next"></div>
          </div>
        </div>
        <div class="btn-wrap"><a href="#" class="btn-brown">Перейти к портфолио</a></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}