{% extends 'common/_layout.html' %}
{% set site_title = 'Производство' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

<section class="manufacture">
  <div class="container">
    <h2 class="title-lg">Производство</h2>
    <p>Мы используем в своей работе самое новое и продвинутое оборудование, современный высокотехнологичный пенополистирол,  чтобы наши клиенты были уверены в высоких характеристиках нашей продукции. Заказывая услуги у нас, вы доверяете свой проект в надежные руки профессионалов, которые подходят к каждому заказу ответственно и индивидуально.</p>
    <div class="manufacture-row">
      <div class="manufacture-col-3">
        <h3 class="title-md">Материалы</h3>
        <ul class="manufacture-list">
          <li><a href="#">Пенопласт</a></li>
          <li><a href="#">Экструдированный пенополистирол</a></li>
          <li><a href="#">Дерево</a></li>
          <li><a href="#">EVA</a></li>
        </ul>
      </div>
      <div class="manufacture-col-3">
        <h3 class="title-md">Методы</h3>
        <ul class="manufacture-list">
          <li><a href="#">Контурная резка</a></li>
          <li><a href="#">Лазерная резка</a></li>
          <li><a href="#">Фрезерная резка</a></li>
        </ul>
      </div>
      <div class="manufacture-col-6">
        <h3 class="title-md">Описание</h3>
        <p>Фрезерная резка пенопласта любой формы и сложности</p>
        <p>Мы производим все виды фрезеровки и гравировки на современном высокоточном оборудовании с ЧПУ. Такой вид обработки сохраняет стойкость изделия к воздействию высоких и низких температур, а также любым другим воздействиям внешней среды.</p>
        <p>Фрезеровка пенопласта осуществляется на высокоточном станке со специальным программным носителем. Резка производится по заданной программе точно по эскизу, исключая вероятность любых погрешностей. Такой метод обработки позволяет создавать из пенополистирола настоящие произведения искусства, способные впечатлить своим видом даже профессиональных художников и скульпторов. Если перед вами стоит сложная задача, связанная с созданием замысловатых 3d-изделий, упростите её, заказав услугу по фрезерной резке пенопласта.</p>
        <div class="manufacture-gallery">
          <a href="img/decor.jpg" data-fancybox><img src="img/decor.jpg" alt=""></a>
          <a href="img/decor.jpg" data-fancybox><img src="img/decor.jpg" alt=""></a>
          <a href="img/decor.jpg" data-fancybox><img src="img/decor.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'common/easy.html' %}

{% endblock %}