{% extends 'common/_layout.html' %}
{% set site_title = 'Раздел' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

<section class="product">
  <div class="container">
    <div class="section-row">
      <h2 class="title-lg">Фасадный декор</h2>
      <a href="#" class="btn-outline">Узнать стоимость</a>
      <h3>Изготовление декоративных элементов фасада дома из пенопласта с мастичным или полимерцементным покрытием</h3>
    </div>
    <div class="product-row">
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
      {% include 'common/product-item.html' %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="section-tabs">
      <li data-id="1" class="active">Описание</li>
      <li data-id="2">Материалы</li>
      <li data-id="3">Сертификаты</li>
    </ul>
    <div class="section-tab active" data-id="1">
      <div class="section-text">
        <p>Пенопластовые детали для фасада нуждаются в дополнительной защите. Мы используем особый полимерный состав собственной разработки, с которым этот карниз приобретает прочность и долговечность камня. Декоративные характеристики изделий могут быть любыми: в стиле барокко, ампир, модерн, ар-деко, прованс или другом на ваш выбор.</p>
      </div>
      {% include 'common/constructor-promo.html' %}
      <div class="animate animate-one">
        <div class="animate__pipe-cut">
          <img src="img/animate/ct_middle.png" alt="" class="animate-1">
          <img src="img/animate/ct_top.png" alt="" class="animate-2">
          <img src="img/animate/ct_bottom.png" alt="" class="animate-3">
        </div>
        <div class="animate__tube">
          <img src="img/animate/truba_footer.png" alt="" class="animate-1">
          <img src="img/animate/truba_top.png" alt="" class="animate-2">
          <img src="img/animate/truba_label.png" alt="" class="animate-3">
        </div>
      </div>
      <div class="section-text">
        <h3>Подзаголовок</h3>
        <p>Пенопластовые детали для фасада нуждаются в дополнительной защите. Мы используем особый полимерный состав собственной разработки, с которым этот карниз приобретает прочность и долговечность камня. Декоративные характеристики изделий могут быть любыми: в стиле барокко, ампир, модерн, ар-деко, прованс или другом на ваш выбор.</p>
        <div class="section-text__gallery">
          <a href="img/decor.jpg" data-fancybox><img src="img/decor.jpg" alt=""></a>
          <a href="img/decor.jpg" data-fancybox><img src="img/decor.jpg" alt=""></a>
        </div>
        <h3>Подзаголовок</h3>
        <p>Пенопластовые детали для фасада нуждаются в дополнительной защите. Мы используем особый полимерный состав собственной разработки, с которым этот карниз приобретает прочность и долговечность камня. Декоративные характеристики изделий могут быть любыми: в стиле барокко, ампир, модерн, ар-деко, прованс или другом на ваш выбор.</p>
      </div>
      <div class="section-calc">
        <h3>Рассчитать стоимость</h3>
        <form action="#">
          <label>
            <p>Диаметр трубы, мм</p>
            <select>
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="1">1</option>
            </select>
          </label>
          <label>
            <p>Толщина теплоизоляции, мм</p>
            <select>
              <option value="2">2</option>
              <option value="2">2</option>
              <option value="2">2</option>
              <option value="2">2</option>
            </select>
          </label>
          <label>
            <h4>Стоимость за погонный метр</h4>
            <h3>360 рублей</h3>
          </label>
        </form>
      </div>
    </div>
    <div class="section-tab" data-id="2">
      <div class="section-text">
        <p>Какой-то контент</p>
      </div>
    </div>
    <div class="section-tab" data-id="3">
      <div class="section-sert">
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
        <a href="img/sert.jpg" data-fancybox><img src="img/sert.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>

<section class="goods">
  <div class="container">
    <h2 class="title-lg">Товары</h2>
    <div class="goods-row">
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
      {% include 'common/goods-item.html' %}
    </div>
  </div>
</section>

<section class="service">
  <div class="container">
    <h2 class="title-lg">Наши услуги</h2>
    <div class="service-row">
      {% include 'common/service-item.html' %}
      {% include 'common/service-item.html' %}
      {% include 'common/service-item.html' %}
    </div>
  </div>
</section>

<section class="work-section">
  <div class="container">
    <h2 class="title-lg">Выполненные проекты</h2>
    <div class="work-section__row">
      {% include 'common/work-item.html' %}
      {% include 'common/work-item.html' %}
      {% include 'common/work-item.html' %}
    </div>
  </div>
</section>

<section class="seo">
  <div class="container">
    <p>Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... </p>
  </div>
</section>

{% include 'common/ask.html' %}

{% endblock %}