{% extends 'common/_layout.html' %}
{% set site_title = 'Страница услуги' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

<section class="service-head">
  <div class="container">
    <div class="service-head__content">
      <h2 class="title-lg">Изготовление 3D-фигур пенопласта</h2>
      <h3 class="title-md">Санкт-Петербург, доставка по России</h3>
      <p>Обработка пенопласта с помощью лазерного луча делает возможным изготовление двумерных и трехмерных изделий из пенопласта любой сложности при минимальном термическом воздействии на этот материал. К тому же, художественная (фигурная) и контурная лазерная резка пенополистирола (пенопласта) обеспечивает минимальную толщину реза, что позволяет повысить детализацию продукта.</p>
      <div class="btn-wrap"><a href="#" class="btn-brown">Рассчитать стоимость услуги</a></div>
    </div>
    <img src="img/service.jpg" alt="" class="service-head__img">
  </div>
</section>

<section class="need service-need">
  <div class="container">
    <div class="need-row">
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-1.svg" alt=""></div>
        <p>Выезд к клиенту на объект</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-2.svg" alt=""></div>
        <p>Сделаем скидку, если вы нашли вариант дешевле</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-3.svg" alt=""></div>
        <p>Изготовление по чертежу или экскизу</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-4.svg" alt=""></div>
        <p>Выдерживаем договоренности по срокам</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-5.svg" alt=""></div>
        <p>Личная бригада монтажников</p>
      </div>
      <div class="need-item">
        <div class="need-item__img"><img src="img/svg/need-6.svg" alt=""></div>
        <p>Изделия любых форм и размеров</p>
      </div>
    </div>
  </div>
</section>

<section class="service-about">
  <div class="container">
    <div class="service-helper">
      <h3 class="title-md">Мастер Блок ответит на вопросы:</h3>
      <div class="service-help">
        <ul class="service-help__tabs">
          <li class="active" data-tab="1">Визуализация</li>
          <li data-tab="2">Безопасность</li>
          <li data-tab="3">Замер</li>
          <li data-tab="4">Изготовление по эскизу</li>
          <li data-tab="5">Производство</li>
        </ul>
        <div class="service-help__row">
          <img src="img/service-help.jpg" alt="" class="service-help__img">
          <div class="service-help__content">
            <div class="loader"></div>
            <div class="service-help__tab active" data-tab="1">
              <div class="service-help__message">В зависимости от задач архитектор или технолог подготавливают 3D-макет изделия. Проверяют его и сверяют с заказчиком. Если есть пожелания - вносят правки.</div>
              <div class="service-help__message">3D - модель передаем клиенту, если он захочет использовать ее снова, то стоимость изготовления будет со скидкой</div>
            </div>
            <div class="service-help__tab" data-tab="2">
              <div class="service-help__message">Какой-то текст</div>
            </div>
            <div class="service-help__tab" data-tab="3">
              <div class="service-help__message">Какой-то текст</div>
            </div>
            <div class="service-help__tab" data-tab="4">
              <div class="service-help__message">Какой-то текст</div>
            </div>
            <div class="service-help__tab" data-tab="5">
              <div class="service-help__message">Какой-то текст</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-about__text">
      <h3 class="title-md">Об услуге</h3>
      <p>Мы изготавливаем на собственном производстве фигуры из пенопласта большими партиями. Берем в разработку индивидуальные заказы, архитектор и технолог создают изделие по эскизам или макетам заказчика, или разрабатывают вместе с заказчиком.</p>
      <h3 class="title-md">Материалы</h3>
      <p>Пенопластовые детали для фасада нуждаются в дополнительной защите. Мы используем особый полимерный состав собственной разработки, с которым этот карниз приобретает прочность и долговечность камня. Декоративные характеристики изделий могут быть любыми: в стиле барокко, ампир, модерн, ар-деко, прованс или другом на ваш выбор.</p>
      <h3 class="title-md">Доставка и монтаж</h3>
      <p>Пенопластовые детали для фасада нуждаются в дополнительной защите. Мы используем особый полимерный состав собственной разработки, с которым этот карниз приобретает прочность и долговечность камня. Декоративные характеристики изделий могут быть любыми: в стиле барокко, ампир, модерн, ар-деко, прованс или другом на ваш выбор.</p>
    </div>
  </div>
</section>

<section class="service-gallery">
  <div class="container">
    <div class="service-gallery__list">
      <a href="img/service.jpg" data-fancybox><img src="img/service.jpg" alt=""></a>
      <a href="img/service.jpg" data-fancybox><img src="img/service.jpg" alt=""></a>
      <a href="img/service.jpg" data-fancybox><img src="img/service.jpg" alt=""></a>
      <a href="img/service.jpg" data-fancybox><img src="img/service.jpg" alt=""></a>
      <a href="img/service.jpg" data-fancybox><img src="img/service.jpg" alt=""></a>
      <a href="img/service.jpg" data-fancybox><img src="img/service.jpg" alt=""></a>
    </div>
  </div>
</section>

{% include 'common/how.html' %}

{% include 'common/sert.html' %}

<section class="more">
  <div class="container">
    <h2 class="title-lg">Товары из разделов</h2>
    <div class="product-row">
      {% include 'common/product-item.html' %}
    </div>
    <h2 class="title-lg">Выполненные проекты</h2>
    <div class="work-section__row">
      {% include 'common/work-item.html' %}
    </div>
  </div>
</section>

<section class="seo seo-full">
  <div class="container">
    <p>Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... </p>
  </div>
</section>

{% include 'common/ask.html' %}

{% endblock %}