{% extends 'common/_layout.html' %}
{% set site_title = 'Страница услуги' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

{% include 'common/how.html' %}

{% include 'common/sert.html' %}

<section class="seo seo-full">
  <div class="container">
    <p>Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам...Некий Сеошный текст должен быть тут, тихо и незаметно он будет тут существовать и помогать сайту продвигаться к новым вершинам... </p>
  </div>
</section>

{% include 'common/ask.html' %}

{% endblock %}