{% extends 'common/_layout.html' %}
{% set site_title = 'Каталог услуг' %}

{% block content %}

{% include 'common/breadcrumbs.html' %}

<section class="service">
  <div class="container">
    <h2 class="title-lg">Каталог услуг</h2>
    <h3 class="title-md">Создадим, доставим и смонтируем изделия разных форм и размеров</h3>
    <div class="service-row">
      {% include 'common/service-item.html' %}
      {% include 'common/service-item.html' %}
      {% include 'common/service-item.html' %}
      {% include 'common/service-item.html' %}
      {% include 'common/service-item.html' %}
    </div>
  </div>
</section>

{% include 'common/easy.html' %}

{% endblock %}