.service
  padding-bottom: 90px
  &-row
    @include flexbox
    align-items: flex-start
    margin: 0 -15px
    .service-item
      width: calc(100% / 3 - 30px)
      margin: 30px 15px 0
  &-item
    position: relative
    &__img
      height: 190px
      overflow: hidden
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        transition: .2s
    &__title
      display: block
      margin-top: 20px
      font-size: 16px
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    p
      margin-top: 10px
      color: $color-blue
    &:hover .service-item__img img
      transform: scale(1.1)

  &-gallery
    &__list
      @include flexbox
      align-items: flex-start
      margin: -30px -15px 0
      a
        width: calc(100% / 3 - 30px)
        margin: 30px 15px 0
        position: relative
      img
        width: 100%
        height: 220px
        object-fit: cover
        object-position: center

  &-head
    padding-bottom: 90px
    .container
      @include flexbox
      align-items: flex-start
    &__content
      width: calc(100% - 490px)
      max-width: 600px
      .title-md
        margin-top: 20px
        margin-bottom: 30px
      p
        margin-top: 15px
      .btn-wrap
        margin-top: 40px
    &__img
      width: 490px
      margin-left: auto
      height: 270px
      object-fit: cover
      object-position: center

  &-need
    padding: 0
    background: #fff
    padding-bottom: 90px
